[submodule "third_party/replxx"]
	path = third_party/replxx
	url = https://github.com/AmokHuginnsson/replxx.git
[submodule "third_party/mimalloc"]
	path = third_party/mimalloc
	url = https://github.com/microsoft/mimalloc.git
[submodule "third_party/libtommath"]
	path = third_party/libtommath
	url = https://github.com/libtom/libtommath
